# .DS_Store
.DS_Store

# Other
/vendor
/node_modules
/config/db.php
.env
.vscode
package-lock.json

# Themes

wp-content/themes/twentytwentyfour
wp-content/themes/twentytwentythree
wp-content/themes/twentytwentytwo

# node_modules

wp-content/themes/blocks/node_modules

#builds

wp-content/themes/blocks/build